<div class="container">
    <h3 class="d-flex justify-content-center">Book your Movie</h3>
    <!-- <h5 class="d-flex justify-content-center">Get your movie here!</h5> -->

    <nav class="navbar navbar-expand-sm bg-light navbar-dark">
        <ul class="navbar-nav">
            <li class="nav-item">
                <button routerLink="movieslist" class="m-1 btn btn-light btn-outline-primary btn-sm">Movies List</button>
            </li>
            <li class="nav-item">
                <button routerLink="about" class="m-1 btn btn-light btn-outline-primary btn-sm">About Us</button>
            </li>
        </ul>
    </nav>
    
    <router-outlet></router-outlet>
</div>